// Fonts
$site-fonts: 'Montserrat', sans-serif;
$special-fonts: 'Mulish', sans-serif;

// Viewport
$tablet-width: 768px;
$small-desktop-width: 1200px;
$desktop-width: 1440px;
$big-desktop-width: 1920px;

// Colors
$base-black: #131313;
$text-black: #171717;
$text-gray: #666;
$menu-link: rgba(128, 128, 128, 1);
$base-white: #FFF;
$bg-btn: #C2AB81;
$bg-btn-active: #665e86;
$modal-shadow: 1px 1px 3px 3px #ccc;