// Fonts
$site-fonts: 'Montserrat', sans-serif;
$special-fonts: 'Mulish', sans-serif;

// Viewport
$tablet-width: 768px;
$desktop-width: 1440px;

// Colors
$base-black: #131313;
$text-black: #171717;
$text-gray: #666;
$base-white: #FFF;
$bg-btn: #C2AB81;