.contact-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14.34px;
    background: $bg-btn;
    color: $base-white;
    max-width: 220px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 12px;
    transform: skewX(-20deg);
    text-decoration: none;
    position: relative;
    border: 0;
    cursor: pointer;

    &:hover,
    &:active {
        background: $bg-btn-active;
    }

    &::after {
        content: '';
        display: block;
        width: 5px;
        height: 43.66px;
        background: $base-white;
        position: absolute;
        right: -10px;
    }

    span {
        transform: skewX(20deg);
    }

    @media(min-width: $tablet-width) {
        padding: 23px;

        &::after {
            height: 60px;
        }
    }
}