.contacts {
    &__phone-btn {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        padding: 14.34px;
        -webkit-transform: skewX(-20deg);
            -ms-transform: skewX(-20deg);
                transform: skewX(-20deg);
        border: 1px solid $base-white;
        opacity: 0.6;

        svg {
            -webkit-transform: skewX(20deg);
                -ms-transform: skewX(20deg);
                    transform: skewX(20deg);
        }
    }

    &--tablet {
        @media(min-width: $tablet-width) {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            gap: 5px;
        }
    }
}