.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    z-index: 20;
    justify-content: center;
    align-items: center;

    &-visible {
        display: flex;
    }

    &__wrapper {
        width: 100%;
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        gap: 20px;
        background: $base-white;
        padding: 30px;
        position: relative;
        border-radius: 30px;

        @media(min-width: $tablet-width) {
            max-width: 450px;
            border-radius: 60px;
            padding: 60px;
            box-shadow: $modal-shadow;
        }
    }

    &__title {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 28px;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    &__form-item {
        display: flex;
        flex-direction: column;
        gap: 6px;
        font-size: 14px;
    }

    &__input,
    &__textarea {
        padding: 16px;
        border: 1px solid $text-black;
        border-radius: 6px;

        &:focus-visible {
            outline: none;
            border: 1px solid $text-black;
            box-shadow: $modal-shadow;
        }
    }

    &__textarea {
        resize: vertical;
    }

    &__comment {
        margin-top: -10px;
        font-size: 12px;
    }

    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 16px;
        color: $base-white;
        background: $text-black;
        border: 0;
        border-radius: 6px;

        &:hover,
        &:active {
            background: $bg-btn-active;
        }
    }
}