.page-header {
    padding: 15px 0;
    position: fixed;
    width: 100%;
    z-index: 10;
    background-color: $base-black;
    
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__navigation,
    &__contacts {
        display: none;
    }

    &__menu-toggle {
        border: 0;
        background: transparent;
        display: flex;
        justify-content: center;
        align-items: center;

        @media(min-width: $small-desktop-width) {
            display: none;
        }
    }

    @media(min-width: $tablet-width) {
        padding: 30px 0 27px;
    }
}

.page-header__logo-link svg {
    @media(min-width: $tablet-width) {
        width: 156px;
        height: 60px;
    }
}