.post {
    display: flex;
    flex-direction: column;
    text-decoration: none;

    &__content {
        padding: 25px 24.37px 30px;
        background: $base-white;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__title {
        font-family: $special-fonts;
        color: $text-black;
        text-transform: uppercase;
        font-size: 14px;
        line-height: 26px;
        font-weight: 700;
        letter-spacing: 1.5px;
    }

    &__subtitle {
        color: $text-black;
        font-size: 16px;
        line-height: 26px;
    }

    &__text {
        font-size: 14px;
        line-height: 24px;
        color: $text-gray;
    }

    &__caption {
        font-size: 12px;
        line-height: 24px;
        color: $text-gray;
    }

    &__user-name {
        font-weight: 700;
    }

    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 16px;
        background: $text-black;
        color: $base-white;
        font-family: $special-fonts;
        font-size: 14px;
        font-weight: 600;
        margin-top: 5px;
    }

    @media(min-width: $tablet-width) {
        width: calc(100% / 2 - 10px);
    }
}